<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cehua.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD14C3881DFA3F1600EFABF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD14C39C1DFA3F1700EFABF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD14C3A71DFA3F1700EFABF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
